<!DOCTYPE html>
<html>
  <head>
    <title>Quiz 1 - Nomster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>

    <body>
		<div class='top-container'>
			<h1>Web App: Nomster</h1>
			<h2>Quiz 1</h2>

			<hr class:'grey'/>
			<P class="description">
				This quiz follows the guidelines set in the instructions. It is a rails application with a page that has static content on it. The web application is hosted on Heroku and the code
				is being hosted on GitHub. A headline has also been included with non-black color.
			</P>
    <%= yield %>
  </body>
</html>
